body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 50px;
  background-color: #a7a7ae;
  font-family: sans-serif;
}


.welcome-Info {
  font-family: "Winky Rough", sans-serif;
    font-weight: 00;
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(218, 219, 223, 0.68);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
/* title of the welcoming message */
#title{
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 10px;
}
#message{
  font-size: 15px;
  margin-bottom: 20px;
}
.welcome-content{
  color: rgb(15, 3, 100);
  padding: 2rem;
  text-align: center;
  width: 600px;
  border-radius: 15px;
  font-size: large;
}

/* close button for welcome content */
.ok-Btn { 
  
  margin-top: 30px;
    background: rgba(242, 242, 242, 0.535);
    color: rgb(15, 3, 100);
    padding: 7px 15px 5px;
    border-color: #7c7cf6;
    border-radius: 15px;
    cursor: pointer;
}

.ok-Btn:hover {
  background: var(--box-color);
}


.clock-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

.clock {
  width: 200px;
  height: 200px;
  border: 8px solid #a7a7ae;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(circle, #8a8a8f, #fcfcff);
  box-shadow: inset 4px 4px 10px rgba(0,0,0,0.2),
              inset -4px -4px 10px rgb(25, 25, 25),
              4px 4px 12px rgba(0,0,0,0.3);
   opacity: 0.9;

}
.numbers {
  position: absolute;
  width: 100%;
  height: 100%;
}

.number {
  position: absolute;
  transform: translate(-50%, -50%);
  color: #2b2b2b;
  font-size: 10px;
  font-weight: bold;
}
.hand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0% 50%;
  transform: rotate(0deg);
  border-radius: 6px;
  color: #323235;
}

.hand.hour { width: 30%; height: 6px; background: #010229; z-index: 2;}
.hand.minute { width: 40%; height: 4px; background: #010229; z-index: 2; }
.hand.second { width: 45%; height: 1px; background: #010229; z-index: 3; }

.center {
      position: absolute;
      top: 50%; left: 50%;
      width: 12px; height: 12px;
      background: black; border-radius: 50%;
      transform: translate(-50%, -50%);
    }
    
.clock::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  background: #161616;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.datetime {
  margin-top: 20px;
  font-size: 20px;
  color: #29292a;
  background: #a7a7ae;
   opacity: 0.9;
  padding: 10px 23px;
  border-radius: 6px;
  
}
button{
  color: #3a3b50;
}
.timer {
  margin-top: 20px;
  background: #a7a7ae;
   opacity: 0.7;
  padding: 15px;
  border-radius: 10px;
  color: rgb(81, 81, 81);
  
 
}
.timer button {
  margin: 5px;
  padding: 6px 12px;
  font-size: 16px;
  background-color:#dedee1;
}
.button-row {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
.timerDisplay {
  font-size: 32px; 
  font-weight: bold; 
  text-align: center;
  margin: 10px 0;
  
}

#bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.video-panel {
  position: fixed;
  top: 50px;
  right: 40px;
  background-color: #a7a7ae;
   opacity: 0.8;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  z-index: 200;
}
button{
  font-size: 30px;
}

#togglePanelBtn {
  cursor: pointer;
  margin-bottom: 8px;
}

.video-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sound-ui {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #a7a7ae;
   opacity: 0.8;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  z-index: 100;
}

.sound-group {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
  justify-items: start;
}

.sound-control {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.sound-control label {
  font-size: 22px;
  margin-left: 5px;
}

.sound-control input[type="range"] {
  width: 100px;
  height: 8px;
}
input[type="range"] {
  -webkit-appearance: none;
  width: 200px;
  height: 6px;
  background: #757579;
  border-radius: 5px;
  outline: none;
  margin: 10px 0;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgb(66, 66, 69);
  cursor: pointer;
}

.mute-btn {
  font-size: 22px;
  padding: 2px 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #ccc;
}

